body {
  margin: 30px;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  position: fixed;
  position: sticky;
  top: 0;
  margin-bottom: 30px;
  padding: 10px 0;
  background: #fff;
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.feed-item {
  margin-bottom: 10px;
  overflow-x: auto;
}